.btnUpdate {
    background-color: #ffffff;
    border: 1px solid rgba(117, 201, 142, 0.623);
    border-radius: 4px;
    width: 100px;
    margin: 16px;
    font-weight: 600;
    transition: .3s;
}

.btnUpdate:hover {
    background-color: rgba(117, 201, 142, 0.623);
    color: #ffffff;
    box-shadow: 0px 2px 3px #ccc;
}